body {
    background-color: rgb(255, 255, 255);
  }

.table{
    background-color: rgb(255, 255, 255);

}
.card{
    background-color: rgb(247, 215, 175);}
.navbar{
    background-color: lavenderblush;
}
.thead{
    background-color: rgb(247, 215, 175);
}
